<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="nav.css">

</head>

<body>
    <header>
         <a href="#" class="logo-link">
            <img src="/Assets/images/logo-uip.webp" alt="UIP logo" width="64" height="64">
            <h3>UIP <span>Inc.</span></h3></a>
        
        <div class="navbar">
        <ul class="nav">
            <li><a href="Home.html" class="nav-link">Home</a></li>
            <li><a href="About.html" class="nav-link">About</a></li>
            <li><a href="Program.html" class="nav-link">Program</a></li>
            <li><a href="Services.html" class="nav-link">Services</a></li>
            <li><a href="FAQs.html" class="nav-link">FAQ's</a></li>
            <li><a href="Contact.html" class="nav-link">Contact</a></li>
        </ul>

        <div class="attendance-button">
            <a href="#" class="attendance-button-link">Attendance Tracker</a>
        </div>
        </div>    
        <div class="nav-toggle" id="nav-toggle">
            <i class="ri-menu-line open-icon"></i>
            <i class="ri-menu-fold-fill close-icon"></i>
         </div>
        </div>
    </header>

<!-- JAVASCRIPT CONNECTION -->
    <script src="/Assets/js/nav-script.js"></script>
</body>
</html>