<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- for icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="navigation-bar-css.css">
</head>

<body>
    <header class="header">
        <nav class="container">
        <div class="nav-data">
        <a href="#" class="logo-link">
            <img src="/Assets/images/logo-uip.webp" alt="UIP logo" width="64" height="64">
            <h3>UIP Inc.</h3>
        </a>
        <!-- nav bar toggle -->
         <div class="nav-toggle" id="nav-toggle">
            <i class="ri-menu-line nav-toggle-menu"></i>
            <i class="ri-menu-fold-fill nav-toggle-close"></i>
         </div>
        </div>
        
        <!-- nav bar menu -->
        <!-- <a href="Home.html">Home</a>
        <a href="About.html">About</a>
        <a href="Services.html">Services</a>
        <a href="Contact.html">Contact</a>  -->
        </nav> 
    </header>
</body>
</html>