/* ========NAVIGATION BAR========= */
/* FONT & VARIABLES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --font-size: 20px;
    --color-text: #ffffff;
    --color-bg: #021D2B;
    --header-height: 9.5rem;
    --body-color: #021D2B;
    --title-color: #ffffff;
    --first-color-lighten: #0a3d52;
    --font-semi-bold: 500;
    --z-tooltip: 10;
    --z-index: 999 ;
    --secondary-color-bg: #FB7847;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE STYLE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    text-decoration: none;
    list-style: none;
}

/* fix issue of none content moving when sidebar is open */
html {
    overflow-y: overlay;
}

body{
    min-height: 100vh;
    color: var(--color-text);

}

header{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 20px 5%;
    transition: all .5s ease;
    background-color: var(--body-color);
    box-shadow: 0 5px 9px rgba(8, 34, 81, 0.308);
}

.logo-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;  
    font-size: clamp(0.2rem, 0.8rem + 1vw, 2rem);
    text-wrap: nowrap;
}

.logo-link h3{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

h3 span{
    font-size: 1.5rem;
    font-weight: 400;
}

.nav{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav-link{
    color: var(--color-text);
    font-size: var(--font-size);
    font-weight: var(--font-semi-bold);
    padding: 5px 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    padding: 0.5rem 0;
    transition: color 0.3s ease;
    transition: all .50s ease;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.nav-link:hover::after{
    width: 100%;
}

.attendance-button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #145374;
    border-radius: 12px;
    transition: background-color 0.4s ease, color 0.3s ease;
    transition:transform 0.4s ease, color 0.3s ease;
    cursor: pointer;
}

.attendance-button a{
    color: var(--color-text);
    font-size: var(--font-size);
    font-weight: var(--font-semi-bold);
}

.attendance-button:hover {
    background-color: var(--first-color-lighten);
    transform: scale(1.05);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* RESPONSIVE STYLES */
@media (max-width: 1250px) {
    header{
        padding: 14px 1%;
        transition: .1s;
    }

    .logo-link{
        padding: 0 30px;
    }

    .nav a .attendance-button{
        display: flex;
        padding: 5px 0px;
        margin: 0px 10px;
        font-size: var(--normal-font-size);
        flex-wrap: nowrap;
        font-weight: var(--font-semi-bold);
    }
}

@media screen and (min-width: 1090px) {
    .nav-toggle{
        display: none;
    }

}

/*MOBILE NAVIGATION*/
@media screen and (max-width: 1090px) {
    .nav-toggle {
        margin-left: auto;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

/* TOGGLE CLOSE AND OPEN */
    .nav-toggle i {
        position: absolute;
        font-size: 2rem;
        transition: opacity 0.4s ease;
        cursor: pointer;
    }

    .open-icon {
        opacity: 1;
    }

    .close-icon {
        opacity: 0;
    }

    .nav-toggle.active .open-icon {
        opacity: 0;
    }

    .nav-toggle.active .close-icon {
        opacity: 1;
    }

/* POSITIONING FOR SIDEBAR */
    .navbar {
        position: fixed;
        top: 90px;
        right: -100%;
        width: 350px;
        min-height: 50vh;
        height: auto;
        z-index: 9999;
        flex-direction: column;
        justify-content: flex-start;
        transition: right 0.5s ease;
        box-shadow: -7px 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 50px 0 50px 50px;
        padding: 2rem 2rem;
        background: linear-gradient(to bottom, #021d2bf6, rgba(234, 233, 233, 0.817));    
    }

    body.sidebar-open{
        overflow: hidden;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        font-size: var(--normal-font-size);
    }

    .attendance-button  {
        display: block;
        text-align: center;
        padding: 1rem;
        background: #145374;
        border-radius: 12px;
        font-weight: var(--font-semi-bold);
        width: 100%;
        margin-top: 1rem; 
        margin-bottom: 1rem;
        transition: background-color 0.4s ease, color 0.3s ease;
        transition:transform 0.4s ease, color 0.3s ease;
        cursor: pointer;
    }

    .attendance-button:hover {
        background-color: var(--first-color-lighten);
        transform: scale(1.01);
        box-shadow: 0 4px 10px rgba(94, 148, 249, 0.308); 
    }

    .navbar.open{
        right: 0;
    }

    .nav-link{
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: var(--color-text);
      padding: 0.5rem 0;
      transition: color 0.3s ease;
    }

    .nav-link::after{
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: #021D2B;
      transition: width 0.3s ease;
    }

    .nav-link:hover::after{
      width: 100%;
    }

}

/* ========NAVIGATION END DESIGN========= */

/* ========HOME PAGE DESIGN========= */

.hero-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #021D2B;
}

.Title h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.Title h2{
    font-size: 2rem;
    color: #FB7847;
    display: flex;
    justify-content: center;
} 

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
}
